@tailwind base;
@tailwind components;
@tailwind utilities;

a.active {
  color: #ff6503;
  background-color: #ff6503;
  color: white;
}
li:has(a.active) {
  border-right: 4px solid #ff6503;
}
.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.custom-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
